.change-tab-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: #fff;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 58px;
  left: 0;
  right: 0;
  height: 58px;

  .btn-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 58px;

    margin: auto;
    text-decoration: none;
    color: #81818a;

    .css-i4bv87-MuiSvgIcon-root {
      width: 18px;
      height: 18px;
    }

    .text-tab {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
    }
  }

  .active {
    border-top: 2px solid #fc820a;
    width: 100%;
    color: #fc820a;
  }
}
