
.change-tab-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: #fff;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
  left: 0;
  right: 0;
  height: 60px;

  .btn-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;

    margin: auto;
    text-decoration: none;
    color: #81818a;

    .text-tab {
        padding-bottom: 8px;
    }
    
  }

  .active {
    border-top: 2px solid #fc820a;
    width: 100%;
    color: #fc820a;
  }
}
