.cart-item-wrapper {
  position: relative;
  height: 420px;
  overflow: hidden;
  overflow-y: auto;
  .content-cart-top {
    margin-bottom: 80px; ///
    .title-detail-cart {
      margin: 16px 16px 16px 0;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #27272a;
    }

    .list-book-cart {
      padding: 16px;
      .info-book-cart {
        display: grid;
        grid-template-columns: 1fr 4fr 0.5fr;
        grid-template-rows: auto;

        .img-book {
          width: 40px;
          height: 40px;
        }
        .info {
          .name-book {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #28282b;
          }
          .price-book {
            .price {
              font-family: Inter;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 20px;
              color: #1a94ff;
            }
            .original_price {
              font-family: Inter;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              color: #808089;
              margin: 0px 4px;
              text-decoration-line: line-through;
            }
          }
        }
        .close-icon {
          top: 0;
          right: 0;
          .css-i4bv87-MuiSvgIcon-root {
            padding: 2px;
            border-radius: 50%;
            background: #ebebf0;
          }
        }
      }
      .quantity {
        display: grid;
        grid-template-columns: 1fr 4fr 0.5fr;
        grid-template-rows: auto;
        grid-gap: auto;

        .img-book {
          width: 40px;
          height: 40px;
          opacity: 0;
        }
        .close-icon {
          top: 0;
          right: 0;
          opacity: 0;
        }
      }

      .border {
        border-bottom: 1px solid #ebebf0;
        margin-bottom: 8px;
        width: 100%;
        height: 1px;
      }
    }
  }

  .content-cart-bottom {
    position: absolute;
    width: 100%;
    height: 245px;
    // bottom: 0;

    .pay-cart-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 0 8px 0;
      background-color: #fff;
      .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .text {
        font-family: Inter;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #28282b;
      }
      .money {
        font-family: Inter;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #28282b;
      }
      .border {
        border-bottom: 1px solid #ebebf0;
        margin-bottom: 8px;
        width: 100%;
        height: 1px;
      }
      .btn-pay-cart {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        background: #fc820a;
        border-radius: 20px;

        span {
          margin: 8px 12px;
          font-family: Inter;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;

        }
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px){
  .content-cart-top {
    margin-bottom: 90px !important; 
  }
}
@media only screen and (min-width: 375px) and (max-width: 812px){
  .cart-item-wrapper { 
    height: 420px !important;
    .content-cart-top {
      margin-bottom: 0px !important; 
    }
  }
}
@media only screen and (min-width: 414px) and (max-width: 736px){
  .cart-item-wrapper {
    height: 496px !important;
    .content-cart-top {
      margin-bottom: 0px !important; 
    }
  }
}
@media only screen and (min-width: 560px) and (max-width: 812px){
  .cart-item-wrapper {
    height: 570px !important;
    .content-cart-top {
      margin-bottom: 0px !important; 
    }
  }
}
